<div class="container profile-body">
  <div class="">
    <%# avatar %>
    <div class="">
      <% if current_user.present? && current_user.profile.user_avatar.present? %>
        <%= image_tag("avatars/#{current_user.profile.user_avatar.avatar.name}" , class: "rounded, main-avatar-picture") %>
      <% end %>
    </div>
    <br>

    <%# Statistics %>
    <div class="statistics-card">
      <div class=""><%= "STATISTICS" %></div>
      <div class="d-flex flex-wrap">
        <div class=""><%= "Total study time" %><br><%= "#{@total_study_hours}hr #{@total_study_minutes}min" %></div>
        <div class=""><%= "Total break time" %><br><%= "#{@total_break_hours}hr #{@total_break_minutes}min" %></div>
        <div class=""><%= "Lv.#{@profile.level.level}"%></div>
        <div class=""><%= "#{@profile.experience}exp"%></div>
        <%# Completed podomoros, completed tasks, average podomoro per week/month, most productive day(calender), amount of podomoros this week/month %>
      </div>
    </div>

      <%# delete profile %>
    <br>
    <div>
      <%= link_to profile_path(current_user.profile), data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "text-decoration-none text-btn-acheievement" do %>
        <i class="fa-solid fa-book-skull fa-xl" style="color: #ffffff;"></i><%= "Delete Profile" %>
      <% end %>
    </div>
  </div>
</div>
