<div class="profile-big-box">
  <div class="row p-0">
    <div class="col-6 p-0">
      <div class="profile-small-box">
        <span class="zelda-font-small">Total study time</span>
        <br>
        <span class="text-profile"><%= "#{@total_study_hours}hr #{@total_study_minutes}min" %></span>
      </div>
    </div>
    <div class="col-6 p-0">
      <div class="profile-small-box">
        <span class="zelda-font-small">Total break time</span>
        <br>
        <span class="text-profile"><%= "#{@total_break_hours}hr #{@total_break_minutes}min" %></span>
      </div>
    </div>
    <div class="col-6 p-0">
      <div class="profile-small-box">
        <span class="zelda-font-small">Level</span>
        <br>
       <span class="text-profile text-profile"><%= "#{@profile.level}" %></span>
      </div>
    </div>
    <div class="col-6 p-0">
      <div class="profile-small-box">
        <span class="zelda-font-small">Experience</span>
        <br>
        <span class="text-profile text-profile"><%= "#{@profile.experience}" %></span>
      </div>
    </div>
  </div>
</div>

<br>

<div class="btn-delete-position">
  <%= link_to profile_path(current_user.profile), data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "text-decoration-none text-btn-achievement" do %>
    <i class="fa-solid fa-book-skull fa-xl fa-scrolls nav-icon" data-toggle="tooltip" data-bs-placement="left" title="Delete profile" data-boundary="window"></i>
  <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
