<%# no frontend because user cannot log in %>
<div class="container profile-body">
  <div class="">
    <%# avatar %>
    <div class="btn-home"><%= "AVATAR" %></div>
    <br>
    <%# profile information %>

    <%# acheivements %>
    <div class=" btn-acheievement">
      <i class="fa-sharp fa-solid fa-trophy" style="color: #ded8e5;"></i><%= "ACHIEVEMENTS" %>
    </div>
    <br>
    <%# update button %>
    <%# <%= link_to "edit", "#", class: "btn btn-profile btn-success" %>

    <%# Statistics %>
    <div class="">
      <div>
        <div class="btn-home"><%= "STATISTICS" %></div>
      </div>
      <div class="text-cente d-flex flex-wrap">
        <div class="btn-text btn-profile"><%= "This week you have 9 podomoros" %><br><%= "59min" %></div>
        <div class="btn-text btn-profile"><%= "This month you have 19 podomoros" %><br><%= "11hr 59min" %></div>
        <div class="btn-text btn-profile"><%= "Total study time" %><br><%= "99hr 59min" %></div>
        <div class="btn-text btn-profile"><%= "Total break time" %><br><%= "1hr 30min" %></div>
        <div class="btn-text btn-profile"><%= "Completed podomoros" %><br><%= "100" %></div>
        <div class="btn-text btn-profile"><%= "Completed tasks" %><br><%= "10" %></div>
        <div class="btn-text btn-profile"><%= "Average pomodoro per week" %><br><%= "999" %></div>
        <div class="btn-text btn-profile"><%= "Average pomodoro per month" %><br><%= "99" %></div>
        <div class="btn-text btn-profile"><%= "Most productive day" %><br><%= "25/12/2022" %><br><%= "16hr" %></div>
      </div>
    </div>
  </div>
</div>
