<nav class="navbar navbar-expand-sm navbar-size blurred-box navbar-wide row-container">
  <div class="container-fluid flex-column justify-content-between">
  <div class="d-flex justify-content-between">
    <div style="width: 10%; height: auto;">
      <%= image_tag "hourglass1.avif", style: "max-width: 100%; height:auto;" %>
    </div>
      <% unless current_user.nil? %>
        <%= "Lv.1" %>
      <% end %>
    <div>
      <% unless current_user.nil? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger", data: { turbo_method: :delete } %>
      <% else %>
      <%= link_to "Login", new_user_session_path%>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-3">
        <% unless current_user.nil? %>
          <%= link_to "Avatar", "#", class: "btn btn-navbar-new btn-navbar-new-transition m-2" %>
          <%= link_to "Achievements", achievements_path, class: "btn btn-navbar-new btn-navbar-new-transition m-2" %>
          <%= link_to "Profile", profiles_path, class: "btn btn-navbar-new btn-navbar-new-transition m-2" %>
        <% end %>
    </div>
  </div>
</nav>
