<div>
  <%= image_tag @image %>
</div>

<div class="selection">
  <div class="avatar-select">
    <img src="../images/samurai.jpg">
    <%= link_to "Image 1", show_path(image: "../images/samurai.jpg"), method: :get, class: "button" %>
  </div>
  <div class="avatar-select">
    <img src="../images/samurai.jpg">
    <%= link_to "Image 2", show_path(image: "image2.jpg"), method: :get, class: "button" %>
  </div>
  <div class="avatar-select">
    <img src="../images/samurai.jpg">
    <%= link_to "Image 3", show_path(image: "image3.jpg"), method: :get, class: "button" %>
  </div>
  <div class="avatar-select">
    <img src="../images/samurai.jpg">
    <%= link_to "Image 4", show_path(image: "image4.jpg"), method: :get, class: "button" %>
  </div>
  <div class="avatar-select">
    <img src="../images/samurai.jpg">
    <%= link_to "Image 5", show_path(image: "image5.jpg"), method: :get, class: "button" %>
  </div>
  <div class="avatar-select">
    <img src="../images/samurai.jpg">
    <%= link_to "Image 6", show_path(image: "image6.jpg"), method: :get, class: "button" %>
  </div>
</div>
